/BusinessLogicLayer/obj/
/BusinessLogicLayer/config/
/BusinessLogicLayer/bin/

/DataAccessLayer/obj/
/DataAccessLayer/config/
/DataAccessLayer/bin/

/OrdersMicroservice.API/obj/
/OrdersMicroservice.API/config/
/OrdersMicroservice.API/bin/
