services:
  ordersmicroservice.api:
    image: ordersmicroservice.api
    build:
      context: .
      dockerfile: OrdersMicroservice.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MONGODB_HOST=mongodb-container
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=OrdersDatabase
      - UsersMicroserviceName=api-gateway-container
      - UsersMicroservicePort=8080
      - ProductsMicroserviceName=api-gateway-container
      - ProductsMicroservicePort=8080
      - REDIS_HOST=redis-container
      - REDIS_PORT=6379
      - RabbitMQ_HostName=rabbitmq-container
      - RabbitMQ_UserName=user
      - RabbitMQ_Password=password
      - RabbitMQ_Port=5672
      - RabbitMQ_Products_Exchange=products.exchange

    ports:
      - "7000:8080"
    networks: 
      - orders-mongodb-network
      - ecommerce-network
    depends_on:
      - mongodb-container

  mongodb-container:
    image: "mongo:8.0.15-noble"
    ports:
      - "27017:27017"
    volumes:
      - ../orders-db-init:/docker-entrypoint-initdb.d
    networks:
      - orders-mongodb-network
    
  products-microservice:
    image: far001/ecommerce-products-microservice:v1.0
    ports:
      - "6001:8080"
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_ENVIRONMENT=Development
      - POSTGRES_HOST=products_postgres_container
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=ecommerceproductsdatabase
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=postgres
      - RabbitMQ_HostName=rabbitmq-container
      - RabbitMQ_UserName=user
      - RabbitMQ_Password=password
      - RabbitMQ_Port=5672
      - RabbitMQ_Products_Exchange=products.exchange

    networks:
      - products-postgres-network
      - ecommerce-network
    depends_on:
      - products_postgres_container
      - rabbitmq-container

  products_postgres_container:
    image: "postgres:16.10-trixie"
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=ecommerceproductsdatabase
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=postgres
    ports:
      - "5433:5432"
    volumes:
      - ../postgres-products-init:/docker-entrypoint-initdb.d
    networks:
      - products-postgres-network
  
  users-microservice:
    image: far001/ecommerce-users-microservice:v1.0
    ports:
      - "5000:9090"
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_ENVIRONMENT=Development
      - POSTGRES_HOST=users_postgres_container
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=ecommerceusers
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=postgres
    networks:
      - users-postgres-network
      - ecommerce-network
    depends_on:
      - users_postgres_container

  users_postgres_container:
    image: "postgres:16.10-trixie"
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=ecommerceusers
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=postgres
    ports:
      - "5434:5432"
    volumes:
      - ../postgres-users-init:/docker-entrypoint-initdb.d
    networks:
      - users-postgres-network
    
  redis-container:
    image: "redis:8.2.2"
    ports:
      - "6379:6379"
    volumes:
      - /home/farouk/RiderProjects/redis-cache:/data
    networks:
      - ecommerce-network
   
  rabbitmq-container:
    image: "rabbitmq:4.2.0-management"
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=password
    networks:
      - ecommerce-network
  
  api-gateway-container:
    image: "api-gateway:v1.0"
    ports: 
      - "4000:8080"
    networks:
      - ecommerce-network      
  
networks:
  orders-mongodb-network:
    driver: bridge
  users-postgres-network:
    driver: bridge
  products-postgres-network:
    driver: bridge
  ecommerce-network:
    driver: bridge